/* register & login*/
.background-img{
    position: absolute;
    z-index: -999;
    height: 100vh;
    width: 100vw;

}

.login_container, 
.register_container{
    height:100vh;
    width:100wh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    gap:1rem;
    align-items:center;
    background-color:rgba(40,57,101,0.6);
}


.login_container .brand,
.register_container .brand{
        display:flex;
        align-items:center;
        gap:1rem;
        justify-content:center;
    }

    .login_container .brand img, 
    .register_container .brand img{
        height:5rem;
    }
    .login_container .brand h1, 
    .register_container .brand h1{
        color:white;
        text-transform:uppercase;
    }

    .login_container form, 
    .register_container form{
        display:flex;
        flex-direction:column;
        gap:2rem;
        background-color:#00000086;
        border-radius: 2rem;
        padding:3rem 5rem;
    }

    .login_container form input,
    .register_container form input{
        background-color:transparent;
        padding:1rem;
        border:0.1rem solid #4e0eff;
        border-radius:0.4rem;
        color:white;
        width:100%;
        font-size:1rem;
    }

    .login_container form input:focus, 
    .register_container form input:focus{
        border:0.1rem solid #997af0;
        outline: none;
    }

    .login_container button, 
    .register_container button{
        background-color: #997af0;
        color:white;
        padding:1rem 2rem;
        border:none;
        width: 110%;
        font-weight:bold;
        border-radius: 0.4rem;
        font-size:1rem;
        text-transform: uppercase;
        transition: 0.5s ease-in-out;
    }

    .login_container button:hover, 
    .register_container button:hover{
        background-color: #4e0eff;
    }

    .login_container span, 
    .register_container span{
        color:white;
        text-transform: uppercase;
    }

    .login_container span a,
    .register_container span a{
        color:#4e0eff;
        text-decoration: none;
        font-weight: bold;
    }


    /* set avatar */
.avatar_container{
            display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
    background-color: #131324;
    height: 100vh;
    width: 100vw;
}

  
.avatar_container .loader {
    max-inline-size: 100%;
}
  
.avatar_container .title-container h1 {
    color: white;
}
    
.avatar_container .avatars {
    display: flex;
    gap: 2rem;

}

.avatar_container .avatars .avatar {
    border: 0.4rem solid transparent;
    padding: 0.4rem;
    border-radius: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease-in-out;
}

.avatar_container .avatars .avatar img {
    height: 6rem;
    transition: 0.5s ease-in-out;
}

.avatar_container .avatars .selected {
    border: 0.4rem solid #4e0eff;
}

.avatar_container .submit-btn {
    background-color: #4e0eff;
    color: white;
    padding: 1rem 2rem;
    border: none;
    font-weight: bold;
    cursor: pointer;
    border-radius: 0.4rem;
    font-size: 1rem;
    text-transform: uppercase;
}

.avatar_container .submit-btn:hover {
    background-color: #4e0eff;
    }


    /* chat */
.chat_container{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chat_container .container {
    height: 100vh;
    width: 100vw;
    background-color: #343541;
    display: grid;
    grid-template-columns: 300px 1fr;
  }

  /* aicontact_container */
  .aicontact_container{
    background-color: #615f71;
    min-height: 5rem;
    cursor: pointer;
    width: 90%;
    border-radius: 0.2rem;
    padding: 0.4rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    transition: 0.5s ease-in-out;
  }

  .aicontact_container .contact{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:0.8rem;
  }
  .aicontact_container .avatar img {
      height: 3.5rem;
  }
  .aicontact_container .username h3{
      color: white;
  }

  /* chat container */
.chatcontainer_container{
  display: grid;
  grid-template-rows: 10% 80% 10%;
  gap: 0.1rem;
  overflow: hidden;
}

.chatcontainer_container .chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
  }
  .chatcontainer_container .chat-header .user-details {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .chatcontainer_container .chat-header .user-details .avatar img {
      height: 3rem;
  }
  .chatcontainer_container .chat-header .user-details .username  h3 {
      color: white;
  }


  .chatcontainer_container .chat-messages {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow: auto;
    border-top: #ffffff55 1px solid;
  }

  .chatcontainer_container .chat-messages::-webkit-scrollbar {
    width: 0.2rem;
    /* &-thumb {
      background-color: #ffffff39;
      width: 0.1rem;
      border-radius: 1rem;
    } */
  }
  .chatcontainer_container .chat-messages .message {
    display: flex;
    align-items: center;
  }
  .chatcontainer_container .chat-messages .message .content {
    max-width: 40%;
    overflow-wrap: break-word;
    padding: 1rem;
    font-size: 1.1rem;
    border-radius: 1rem;
    color: #d1d1d1;
  }


  .chatcontainer_container .chat-messages .sended {
    justify-content: flex-end;
  }

  .chatcontainer_container .chat-messages .sended .content {
    background-color: #4f04ff21;
  }


  .chatcontainer_container .chat-messages .recieved {
    justify-content: flex-start;
  }
  .chatcontainer_container .chat-messages .recieved .content {
    background-color: #444654;
  }

/* chat input */
.chatinput_container{
    display: grid;
  align-items: center;
  grid-template-columns: 5% 95%;
  background-color: transparent;
  padding: 0 2rem;
  padding-bottom: 0.3rem;
}

.chatinput_container .button-container {
    display: flex;
    align-items: center;
    color: white;
    gap: 1rem;
  }

  .chatinput_container .button-container .emoji {
    position: relative;
  }

  .chatinput_container .button-container .emoji svg {
    font-size: 1.5rem;
    color: #ffff00c8;
    cursor: pointer;
  }

  .chatinput_container .button-container .emoji .EmojiPickerReact{
    position: absolute;
    top: -500px;
    background-color: #080420;
    box-shadow: 0 5px 10px #9a86f3;
    border-color: #9a86f3;
  }
  .chatinput_container .button-container .emoji .EmojiPickerReact .epr-header-overlay{
      display: none;
    }

    .chatinput_container .button-container .emoji .EmojiPickerReact  .epr-emoji-category-label{
      background-color:  #080420;
    }

    .chatinput_container .button-container .emoji .EmojiPickerReact  .epr-preview{
      display: none;
    }

    .chatinput_container .button-container .emoji .EmojiPickerReact  .emoji-scroll-wrapper::-webkit-scrollbar {
      background-color: #080420;
      width: 5px;
    }
    .chatinput_container .button-container .emoji .EmojiPickerReact  .emoji-categories button {
        filter: contrast(0);
    }
    .chatinput_container .button-container .emoji .EmojiPickerReact .emoji-search {
      background-color: transparent;
      border-color: #9a86f3;
    }
    .chatinput_container .button-container .emoji .EmojiPickerReact .emoji-group:before {
      background-color: #080420;
    }

  .chatinput_container .input-container {
    width: 100%;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    background-color: #ffffff34;
    box-shadow: 10px 5px 5px rgba(0,0,0,0.55);
  }

  .chatinput_container .input-container input {
    width: 90%;
    height: 60%;
    background-color: transparent;
    color: white;
    border: none;
    
    padding-left: 1rem;
    font-size: 1.2rem;
  }
  .chatinput_container .input-container input ::selection {
    background-color: #9a86f3;
  }
  .chatinput_container .input-container input :focus {
    outline: none;
  }


  .chatinput_container .input-container  button {
    padding: 0.3rem 2rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9a86f3;
    border: none;
  }

  .chatinput_container .input-container  button  svg {
    font-size: 2rem;
    color: white;
  }